# Исключаем объектные файлы и библиотеки
*.o
*.a
*.so

# Исключаем исполняемые файлы
*.out
*.exe

# Исключаем резервные файлы и временные файлы редакторов
*~
*.swp
*.tmp

# Исключаем файлы конфигурации и логов
*.log
config.h
